DATABASE_URL=postgresql://postgres:devpassword@localhost:5433/kgraph
OPENAI_API_KEY=your-key-here


# to think:
# 1. why we replace the tasks
# 2. how was the replacement chosen (implied skills)
# 3. effort ratio, new jobs == old jobs? (after replacement of tasks, is the hours the same?)